<!DOCTYPE html>
<!-- file: views/author/index.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
 <div class="container">
  <div class="row">
   <div style="margin-top: 10%">
     <h2>{{title}}</h2>
     <table><thead>
      <tr><th>Author</th><th>Nationality</th><th>Birth year</th>
          <th>Fields</th></th></tr>
      </thead><tbody>
      {{#authors}}
      <tr><td>{{author}}</td>
      <td>{{nationality}}</td>
      <td>{{birth_year}}</td>
      <td>{{fields}}</td>
      <td>
      <a class="button" href="author/{{id}}">Show</a>
      <a class="button" href="author/{{id}}/edit">Edit</a>
      <a class="button" href="author/{{id}}/delete">Erase</a>
      </td>
      </tr>
      {{/authors}}</tbody>
     </table>
     <a class="button button-primary" href="/author/create">New</a>
     <a class="button button-primary" href="/">Back</a>
     <a class="button button-primary" href="/book">Book</a>
     <a class="button button-primary" href="/publisher">Publisher</a>
    </div>
   </div>
 </div>
</body>