<!DOCTYPE html>
<!-- file: views/author/show.html -->
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
</head>
<body>
 <div class="container">
  <div class="row">
   <div class="eleven column" style="margin-top: 10%">
    <h2>{{title}}</h2>
    <form>
     {{#author}}
     <div class="row">
      <div class="six columns">
       <label for="authorInput">Author</label>
       <input class="u-full-width" type="text" readonly
          name="author" value="{{author}}">
      </div>
      <div class="six columns">
       <label for="nationalityInput">Nationality</label>
       <input class="u-full-width" type="text" readonly
          name="nationality" value="{{nationality}}">
      </div>
     </div>
     <div class="row">
      <div class="six columns">
       <label for="birth_yearInput">Birth year</label>
       <input class="u-full-width" type="text" readonly
          name="birth_year" value="{{birth_year}}">
      </div>
      <div class="six columns">
       <label for="fielInput">Field</label>
       <input class="u-full-width" type="tel" readonly
         name="field" value="{{fields}}">
      </div>
      <a class="button button-primary" href="/author">Back</a>
     </div>
     {{/author}}
    </form>
   </div>
  </div>
 </div>
</body>



